{% extends 'base.html'%}

{% block content %}
<div class="row">
    {# Added this for loop code inorder to fetch all the respective fields added by the admin #}
    {% for i in petadpt %}
        <div class="col-sm-3">
        <div class="card">
          <img src= "{{i.imageURL}}" class="card-img-top" style="height:150px"alt="...">
          <div class="card-body">
              <h5 class="card-title">{{i.name}}</h5>
              <p class="card-text">{{i.healthcondition}}</p>
              <p class="card-text">{{i.description}}</p>
          </div>
          {# Added this code so when we click on adapt button it will direct you to checkoutpage.html #}
          <a href="{%url 'Checkout' %}" class="btn btn-primary">Adapt</a>
        </div>  
  </div>
    {% endfor %}
</div>
{% endblock %}
