
<div class="modal" tabindex="-1" style="display: flex;justify-content: center;align-items: center;height: 100vh;background-color: #ADD8E6;">
  <div class="modal-dialog" style="width: 200%;max-width: 480px;padding: 20px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="font-family:Roboto;font-size:20px;p:5px;">Customize </h5>
      </div>
      <div class="modal-body">
        <p>Update your feelings but please don't revoke your requests for dogs &#x1F436;</p>
      </div>
      <div class="modal-footer">
        <a href="{%url 'Revoke' %}">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Delete My Request</button>
        </a>
        <button type="button" class="btn btn-primary">Update My Details</button>
      </div>
    </div> 
  </div>
</div>
